<html>
<head>
    <title>Bem Vindo!</title>
</head>
<body>
    <h1>Bem Vindo ao Site 01</h1>
    <footer>
    Todos os diretos Reservados &copy; 2010 -  @DateTime.Now.Year
    </footer>
</body>
</html>